.menu {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
}

.menu-styling {
  font-size: 250%;
  width: 30rem;
  height: 60rem;
  background-color: rgb(229, 229, 229);
}
